@use "../../styles/variables" as variables;

.userPanel {
    margin: 0 auto;
    height: 80px;
    padding: .5rem;
    max-width: 650px;
    position: relative;
    border-radius: 0 0 15% 15% ;
    background-color: variables.$menuBackground;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.562);
    overflow: hidden;
}

.userDataContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__image {
        width: 50px;
        height: 50px;
        border: 3px solid variables.$primaryColor;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: (2px 2px 10px rgba(255, 255, 255, 0.349));
    }
}

.nameAndMailContainer {
    width: 90%;

    &__name {
        font-size: 1rem;
        color: white;
    }

    &__email {
        font-size: .8rem;
        color: white;   
    }
}

.menuButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-image: url("../../../public/icons/menu.png");
    background-size: cover;
    cursor: pointer;
}

.nav {
    height: 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: #29292988; 
    backdrop-filter: blur(10px);

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity .5s linear, height .3s ;

    &_visible {
        height: inherit;
        opacity: 1;
        visibility: visible;
    }

    &__image {
        width: 30px;
        height: 30px;
    }

    &__button {
        font-size: .7rem;
        padding: .3rem;
        background-color: transparent;
        font-weight: 400;

        &:hover {
            background-color: orange;
        }
    }

    &__arrowButton {
        width: 15px;
        height: 15px;
        background-image: url("../../../public/icons/uparrow.png");
        background-size: cover;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}
