@use "../../styles/variables" as variables;
.formContainer {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


    // &__inputs[type="password"]::before

    &__inputs[type="password"], &__inputs[type="email"] {
        background-image: url("icons/arroba.png");
        background-size: cover;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position-y:50%;
        background-position-x: 95%;

        }

    &__inputs[type="password"] {
        background-image: url("icons/candado.png");
    }

    &__inputs[type="submit"] {
        margin-top: 2rem;
    }

    &__errorAdvice {
        color: red;
        font-size: .8rem;
    }
}

.googleButton {
    padding: .5rem;
    background-color: white;
    border: thin solid variables.$primaryColor;
    color: variables.$textColor;
    background-image: url("icons/goo.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
}