@use "../../styles/variables" as variables;
.formContainer {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


    &__inputs[type="submit"] {
        margin-top: 2rem;
    }

    &__errorAdvice {
        color: red;
        font-size: .8rem;
    }
}

.googleButton {
    padding: .5rem;
    background-color: white;
    border: thin solid variables.$primaryColor;
    color: variables.$textColor;
    background-image: url("icons/google.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
}